@charset "UTF-8";

/*
Em HTML é id, em CSS é # - SÓ PODE UM ELEMENTO POR PÁGINA.
Em HTML é class, em CSS é . (ponto) - PODE VÁRIOS ELEMENTOS.
*/

body{
    background-color: rgba(213, 237, 241, 0.514);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:rgb(5, 63, 60)
}

h1#principal{
    text-align: center;
    background-color: rgba(199, 167, 78, 0.733);
    color: white;
    /*Seletor Principal*/
}

h2{
    color: rgb(131, 66, 6);
}

.basico{
    color: rgb(14, 161, 161);
}

.intermediario{
    color: rgb(42, 61, 165);
}

.avançado{
color: rgb(8, 91, 112);
}

.destaque{
    background-color: cadetblue;
}

.marca{
    background-color: aquamarine;
}